<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
    <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>common/index_commons.css">
    <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>searchTeachers/index.css">
</head>
<body id="container" data-init="searchTeachers/index">
<% include ../common/header.ejs %>
<div class="search-teachers">
  <!-- 搜索块 -->
  <div class="s-t-top">
    <ul class="s-t-top-list">
      <li class="li-active"><a href="javascript:;">优选外教<span></span></a></li>
      <li><a href="javascript:;"></a>欧美外教<span></span></a></li>
      <li><a href="javascript:;"></a>收藏外教<span></span></a></li>
    </ul>
    <!-- s-t-top-details增加class 1. western-teacher欧美外教搜索部分显示 2.collection-teacher收藏外教搜索部分显示 -->
    <div class="s-t-top-details f-cb">
      <p class="s-t-top-tips"><span></span>使用4次次卡即可预约1节欧美外教课</p>
      <div class="s-t-top-left">
        <div class="s-t-days">
          <h3 class="condition-item">上课时间</h3>
          <ul class="s-t-days-list">
            <li date-time='12/12'>今天(周四)</li>
            <li>明天(周五)</li>
            <li>后天(周六)</li>
            <li>10月01日(周日)</li>
            <li>10月02日(周一)</li>
            <li>10月03日(周二)</li>
            <li>10月04日(周三)</li>
            <li class="last">后七天 ></li>
          </ul>
          <ul class="s-t-days-list hide">
            <li>10月04日(周四)</li>
            <li>10月05日(周五)</li>
            <li>10月06日(周六)</li>
            <li>10月07日(周日)</li>
            <li>10月08日(周一)</li>
            <li>10月09日(周二)</li>
            <li>10月10日(周三)</li>
            <li class="last">前七天 ></li>
          </ul>
          <div class="condition-type"><i>10:00</i><span class="type-icon"></span>
            <ul class="condition-type-time">
              <li class="active">10:00</li>
              <li>10:30</li>
              <li>11:00</li>
              <li>11:30</li>
              <li>11:00</li>
              <li>11:30</li>
              <li>11:00</li>
              <li>11:30</li>
            </ul>
          </div>
        </div>
        <div class="s-t-condition">
          <div class="condition-course">
              <h3 class="condition-item">课程</h3>
              <div class="condition-type"><i>不限</i><span class="type-icon"></span>
                <ul class="condition-type-class">
                  <li>
                      <p class="type-class-right"><span class="active" data-val='0'>不限</span></p>
                  </li>
                  <li>
                    <span class="type-class-left">主修课</span>
                    <p class="type-class-right"><span data-val='1'>经典英语成人版</span><span data-val='2'>经典英语青少版</span></p>
                  </li>
                  <li>
                    <span class="type-class-left">专业课</span>
                    <p class="type-class-right"><span data-val='3'>青少全能新概念</span><span data-val='4'>自然拼读</span><span data-val='5'>商务英语</span><span>面试口语</span><span>青少年英语</span><span>雅思口语</span><span>分级阅读</span></p>
                  </li>
                  <li>
                    <span class="type-class-left">选修课</span>
                    <p class="type-class-right"><span>少儿英文歌曲</span><span>综合英语</span><span>生活口语</span><span>旅游英语</span><br><span>自由会话</span><span>看漫画说英语</span><span>学唱英文歌</span><span>热点聚焦</span><br><span>英语习语会话</span><span>美剧进行时</span></p>
                  </li>
                </ul>
              </div>
          </div>
          <div class="condition-teachers">
              <h3 class="condition-item">筛选外教</h3>
              <div class="condition-type"><i>外教性别</i><span class="type-icon"></span>
                <ul class="condition-type-time">
                  <li date-val='0'>不限</li>
                  <li date-val='1'>男</li>
                  <li date-val='2'>女</li>
                </ul>
              </div>
              <div class="condition-type"><i>外教特点</i><span class="type-icon"></span>
                <ul class="condition-type-class type-label">
                  <li data-tagid='444'><span class="teacher-type-label"></span><em>有错必纠</em></li>
                  <li data-tagid='445'><span class="teacher-type-label"></span><em>语速适中</em></li>
                  <li data-tagid='446'><span class="teacher-type-label"></span><em>课堂气氛活跃</em></li>
                  <li data-tagid='5554'><span class="teacher-type-label"></span><em>和蔼可亲</em></li>
                  <li data-tagid='5554'><span class="teacher-type-label"></span><em>学习鼓励师</em></li>
                  <li data-tagid='454'><span class="teacher-type-label"></span><em>拓展丰富</em></li>
                  <li data-tagid='404'><span class="teacher-type-label"></span><em>幽默健谈</em></li>
                  <li data-tagid='99'><span class="teacher-type-label"></span><em>讲课有激情</em></li>
                  <li data-tagid='78'><span class="teacher-type-label"></span><em>时间把控好</em></li>
                  <li data-tagid='6'><span class="teacher-type-label"></span><em>举例达人</em></li>
                  <li data-tagid='0'><span class="teacher-type-label"></span><em>肢体语言丰富</em></li>
                  <li data-tagid='55'><span class="teacher-type-label"></span><em>外教热情</em></li>
                  <li data-tagid='7'><span class="teacher-type-label"></span><em>学习鼓励师</em></li>
                  <li data-tagid='2'><span class="teacher-type-label"></span><em>发音标准</em></li>
                </ul>
              </div>
              <div class="condition-type"><i>适合学员</i><span class="type-icon"></span>
                <ul class="condition-type-time">
                  <li>不限</li>
                  <li>初级</li>
                  <li>初级以上</li>
                  <li>中级</li>
                  <li>中级以上</li>
                </ul>
              </div>
              <div class="condition-teacher-name"><input type="text" placeholder="请输入老师姓名"></div>
          </div>
        </div>
      </div>
      <div class="s-t-top-right">
        <form name="searchform"  method="post" action="/ReserveNew/index" id="formid">
          <input type="hidden" name="month_point" value="" id="month_point" />
          <input type="hidden" value="" id="beforeMin" />
          <input type="hidden" name="Date" value="">
          <input type="hidden" name="selectTime" value="">
          <input type="hidden" name="course" value="">
          <input type="hidden" name="industry" value="">
          <input type="hidden" name="stu_level" value="">
          <input type="hidden" name="sex" value="">
          <input type="hidden" name="tea_tag" value="">
          <input type="hidden" name="tea_name" value="">
          <input type="hidden" name="is_use" value="">
          <input type="hidden" name="from" value="">
          <input type="hidden" name="useSearch" value="">
          <input type="hidden" name="type" value="">
          <input type="hidden" name="level" id="level" value="">
          <input type="hidden" name="pageID" value="">
          <button class="go-search" type="submit"><span></span>搜 索</button>
          <p class="clear-search"><span>清空搜索条件</span></p>
        </form>
    </div>
    </div>
  </div>
  <!-- 搜索结果块 -->
  <div class="s-t-list">
    <h3 class="s-t-list-tit">
      <p class="s-t-tit-left">点击“时间点”选择外教，“<span>CLOSED</span>”表示此时间点无法预约</p>
      <p class="s-t-tit-right">符合条件的外教 <span>1536</span> 位</p>
    </h3>
    <div class="s-t-content f-cb">
      <div class="item">
        <span class="item-tips"></span>
        <div class="item-top">
          <div class="item-top-cont">
            <div class="teacher-img">
              <span><img src="<%=imagessrc2%>searchTeachers/teacher.jpg" alt=""></span>
            </div>
            <h3 class="teacher-name">Chris Marc</h3>
            <p class="teacher-age">33岁</p>
            <div class="teacher-star"><span></span><span></span><span></span><span></span><span class="half"></span></div>
            <div class="item-top-bottom">
              <p class="praise-rate"><span></span>好评率 98%</p>
              <div class="label"><span>和蔼可亲 (132)</span><span>有错必纠 (217)</span></div>
              <p class="teacher-details-link"><a href="javascript:;">外教详情</a></p>
            </div>
          </div>
        </div>
        <ul class="item-time-list">
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li class="closed">CLOSED</li>
          <li class="active"><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
        </ul>
      </div>
      <div class="item">
        <div class="item-top">
          <div class="item-top-cont">
            <div class="teacher-img">
              <span><img src="<%=imagessrc2%>searchTeachers/teacher.jpg" alt=""></span>
            </div>
            <h3 class="teacher-name">Chris Marc</h3>
            <p class="teacher-age">33岁</p>
            <div class="teacher-star"><span></span><span></span><span></span><span></span><span class="half"></span></div>
            <div class="item-top-bottom">
              <p class="praise-rate"><span></span>好评率 98%</p>
              <div class="label"><span>和蔼可亲 (132)</span><span>有错必纠 (217)</span></div>
              <p class="teacher-details-link"><a href="javascript:;">外教详情</a></p>
            </div>
          </div>
        </div>
        <ul class="item-time-list">
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li class="closed">CLOSED</li>
          <li class="active"><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
        </ul>
      </div>
      <div class="item">
        <div class="item-top">
          <div class="item-top-cont">
            <div class="teacher-img">
              <span><img src="<%=imagessrc2%>searchTeachers/teacher.jpg" alt=""></span>
            </div>
            <h3 class="teacher-name">Chris Marc</h3>
            <p class="teacher-age">33岁</p>
            <div class="teacher-star"><span></span><span></span><span></span><span></span><span class="half"></span></div>
            <div class="item-top-bottom">
              <p class="praise-rate"><span></span>好评率 98%</p>
              <div class="label"><span>和蔼可亲 (132)</span><span>有错必纠 (217)</span></div>
              <p class="teacher-details-link"><a href="javascript:;">外教详情</a></p>
            </div>
          </div>
        </div>
        <ul class="item-time-list">
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li class="closed">CLOSED</li>
          <li class="active"><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
        </ul>
      </div>
      <div class="item">
        <div class="item-top">
          <div class="item-top-cont">
            <div class="teacher-img">
              <span><img src="<%=imagessrc2%>searchTeachers/userImage.jpg" alt=""></span>
            </div>
            <h3 class="teacher-name">Chris Marc</h3>
            <p class="teacher-age">33岁</p>
            <div class="teacher-star"><span></span><span></span><span></span><span></span><span class="half"></span></div>
            <div class="item-top-bottom">
              <p class="praise-rate"><span></span>好评率 98%</p>
              <div class="label"><span>和蔼可亲 (132)</span><span>有错必纠 (217)</span></div>
              <p class="teacher-details-link"><a href="javascript:;">外教详情</a></p>
            </div>
          </div>
        </div>
        <ul class="item-time-list">
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li class="closed">CLOSED</li>
          <li class="active"><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
        </ul>
      </div>
      <div class="item">
        <div class="item-top">
          <div class="item-top-cont">
            <div class="teacher-img">
              <span><img src="<%=imagessrc2%>searchTeachers/teacher.jpg" alt=""></span>
            </div>
            <h3 class="teacher-name">Chris Marc</h3>
            <p class="teacher-age">33岁</p>
            <div class="teacher-star"><span></span><span></span><span></span><span></span><span class="half"></span></div>
            <div class="item-top-bottom">
              <p class="praise-rate"><span></span>好评率 98%</p>
              <div class="label"><span>和蔼可亲 (132)</span><span>有错必纠 (217)</span></div>
              <p class="teacher-details-link"><a href="javascript:;">外教详情</a></p>
            </div>
          </div>
        </div>
        <ul class="item-time-list">
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li class="closed">CLOSED</li>
          <li class="active"><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
        </ul>
      </div>
      <div class="item">
        <div class="item-top">
          <div class="item-top-cont">
            <div class="teacher-img">
              <span><img src="<%=imagessrc2%>searchTeachers/teacher.jpg" alt=""></span>
            </div>
            <h3 class="teacher-name">Chris Marc</h3>
            <p class="teacher-age">33岁</p>
            <div class="teacher-star"><span></span><span></span><span></span><span class="half"></span><span class="gray"></span></div>
            <div class="item-top-bottom">
              <p class="praise-rate"><span></span>好评率 98%</p>
              <div class="label"><span>和蔼可亲 (132)</span><span>有错必纠 (217)</span></div>
              <p class="teacher-details-link"><a href="javascript:;">外教详情</a></p>
            </div>
          </div>
        </div>
        <ul class="item-time-list">
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li class="closed">CLOSED</li>
          <li class="active"><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
        </ul>
      </div>
      <div class="item">
        <div class="item-top">
          <div class="item-top-cont">
            <div class="teacher-img">
              <span><img src="<%=imagessrc2%>searchTeachers/teacher.jpg" alt=""></span>
            </div>
            <h3 class="teacher-name">Chris Marc</h3>
            <p class="teacher-age">33岁</p>
            <div class="teacher-star"><span></span><span></span><span></span><span></span><span class="half"></span></div>
            <div class="item-top-bottom">
              <p class="praise-rate"><span></span>好评率 98%</p>
              <div class="label"><span>和蔼可亲 (132)</span><span>有错必纠 (217)</span></div>
              <p class="teacher-details-link"><a href="javascript:;">外教详情</a></p>
            </div>
          </div>
        </div>
        <ul class="item-time-list">
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li class="closed">CLOSED</li>
          <li class="active"><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
        </ul>
      </div>
      <div class="item">
        <div class="item-top">
          <div class="item-top-cont">
            <div class="teacher-img">
              <span><img src="<%=imagessrc2%>searchTeachers/teacher.jpg" alt=""></span>
            </div>
            <h3 class="teacher-name">Chris Marc</h3>
            <p class="teacher-age">33岁</p>
            <div class="teacher-star"><span></span><span></span><span></span><span></span><span class="half"></span></div>
            <div class="item-top-bottom">
              <p class="praise-rate"><span></span>好评率 98%</p>
              <div class="label"><span>和蔼可亲 (132)</span><span>有错必纠 (217)</span></div>
              <p class="teacher-details-link"><a href="javascript:;">外教详情</a></p>
            </div>
          </div>
        </div>
        <ul class="item-time-list">
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li class="closed">CLOSED</li>
          <li class="active"><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
          <li><a href="javascript:;">17:30-17:55</a></li>
        </ul>
      </div>
      <!-- 所选外教已被约完 提示重新搜索 -->
      <div class="no-teachers hide">
        <img src="<%=imagessrc2%>searchTeachers/no_teachers.jpg" alt="">
        <p class="no-teachers-text">您选择上课的外教已经被约完，建议您更改上课时间重新搜索</p>
      </div>
      <!-- 优选外教被约完 提示选择欧美外教 -->
      <div class="no-teachers hide">
        <img src="<%=imagessrc2%>searchTeachers/foreign_teacher.jpg" alt="">
        <p class="no-teachers-text">当前上课时间的优选外教已被约完，试试其他时段吧～</p>
        <p class="foreign-teacher"><span>点击查看这个时段可约的欧美外教</span></p>
      </div>
    </div>
    <div class="s-t-page">
      <a href="javascript:;" class="pre-page prohibit"></a>
      <a href="javascript:;" class="active">1</a>
      <a href="javascript:;">2</a>
      <a href="javascript:;">3</a>
      <a href="javascript:;">4</a>
      <a href="javascript:;">5</a>
      <a href="javascript:;">...</a>
      <a href="javascript:;">222</a>
      <a href="javascript:;" class="next-page"></a>
    </div>
  </div>
  <!-- 推荐欧美外教块 -->
  <div class="s-t-recommend">
    <h3 class="s-t-recommend-tit">
      <p class="recommend-left"><span></span>欧美外教推荐</p>
      <a href="javascript:;" class="recommend-right">更多 ></a>
    </h3>
    <ul class="recommend-list">
      <li>
        <a href="javascript:;">
          <div class="item-top-cont">
            <div class="teacher-img">
              <span><img src="<%=imagessrc2%>searchTeachers/teacher.jpg" alt=""></span>
            </div>
            <h3 class="teacher-name">Chris Marc</h3>
            <div class="teacher-star"><span></span><span></span><span></span><span class="half"></span><span class="gray"></span></div>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div class="item-top-cont">
            <div class="teacher-img">
              <span><img src="<%=imagessrc2%>searchTeachers/teacher.jpg" alt=""></span>
            </div>
            <h3 class="teacher-name">Chris Marc</h3>
            <div class="teacher-star"><span></span><span></span><span></span><span></span><span class="half"></span></div>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div class="item-top-cont">
            <div class="teacher-img">
              <span><img src="<%=imagessrc2%>searchTeachers/teacher.jpg" alt=""></span>
            </div>
            <h3 class="teacher-name">Chris Marc</h3>
            <div class="teacher-star"><span></span><span></span><span></span><span></span><span class="half"></span></div>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div class="item-top-cont">
            <div class="teacher-img">
              <span><img src="<%=imagessrc2%>searchTeachers/teacher.jpg" alt=""></span>
            </div>
            <h3 class="teacher-name">Chris Marc</h3>
            <div class="teacher-star"><span></span><span></span><span></span><span></span><span class="half"></span></div>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div class="item-top-cont">
            <div class="teacher-img">
              <span><img src="<%=imagessrc2%>searchTeachers/teacher.jpg" alt=""></span>
            </div>
            <h3 class="teacher-name">Chris Marc</h3>
            <div class="teacher-star"><span></span><span></span><span></span><span></span><span class="half"></span></div>
          </div>
        </a>
      </li>
    </ul>  
  </div>
  <!-- 弹窗 -->
  <div class="mask hide"></div>
  <div class="mask-tips hide">
    <span class="close"></span>
    <h3 class="mask-tips-tit">温馨提示</h3>
    <p class="mask-tips-text">亲爱的学员，请注意您现在预约的课程是30分钟后的课程，预约成功后不能取消，上课教材也无法修改。我们无法提供相应的客服人工服务，敬请注意。</p>
    <p class="mask-btn"><a href="javascript:;" class="sure">确定</a><a href="javascript:;" class="cancel">取消</a></p>
  </div>
</div>
<% include ../common/bottom.ejs %>
<script src="<%= jsSource2%>" id="seajsnode"></script>
</body>
</html>