<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>体验用户</title>
  <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>common/index_commons.css">
  <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>exReceive/index_finish.css">
</head>
<body>
  <% include ../common/header.ejs %>
  <div class="contentWidth">
    <% include ../common/banner.ejs %>
    <div class="exContent">
      <% include ../common/sidebar.ejs %>
      <div class="content">
        <% include ./basic.ejs %>
        <div class="results">
          <h3>
              最近一次外教课上课记录
            <a href="javascript:;" class="more">更多></a>
          </h3>
          <div class="lists">
            <h4>
              <i></i>
              2017/12/30<span>14:30 - 14:55</span>
              <a href="javascript:;" class="evlBtn">1对1外教评测课</a>
            </h4>
            <dl>
              <dt class="hide">
                <!-- 测试报告 -->
                <span>您的级别<br><i>level5</i></span>
                <!-- 测试报告生成中 -->
                <!-- <span>评测报告<br>正在生成中<br>...</span> -->
              </dt>
              <dt class="absent"></dt><!-- 缺席 -->
              <dd class="ts">教你稳过名校面试</dd>
              <dd>Dealing with the school interview</dd>
              <dd class="tt"><img src="<%=imagessrc2%>exReceive/r_after_ipad.jpg" alt="">51talk teacher</dd>
            </dl>
          </div>
          <div class="basicList">
            <ul class="preList">
              <!-- 上完体验课后 -->
              <li class="check hide"><a href="javascript:;" class="see"><i></i>查看评测报告</a></li>
              <!-- 测试报告生成中 -->
              <li class=""><a href="javascript:;" class="review"><i></i>评价课程</a></li>
              <li class=""><a href="javascript:;" class="classTest"><i></i>课后测试</a></li>
              <li class="">
                <a href="javascript:;" class="playback"><i></i>课程回放
                  <div class="modiLayer">
                    <div class="layer">
                      <i></i>
                      <span>视频将在上课结束后的24小时内生成，如一直未生成，则可能是由于网络问题或语音通道不支持导致未录屏成功。</span>
                    </div>
                  </div>
                </a>
              </li>
              <!-- 缺席 -->
              <li class="courseLi hide"><a href="javascript:;" class="courseBtn">再约一节</a></li>
              <!-- 无卡缺席 -->
              <li class="courseTel hide">请联系客服 4000-515151 再约一节</li>
            </ul>
          </div>
        </div>
        <!-- 了解更多 -->
        <div class="moreServer">
          <h3>了解更多51Talk课程服务</h3>
          <div class="info-stu">
            <div class="stu-read">
              <a href="javascript:;">查看详情</a>
            </div>
            <div class="cls-video">
              <img src="<%=imagessrc2%>exReceive/r_more_video.jpg">
              <i class="video-btn"></i>
              <span class="title">了解51Talk的课程与服务</span>
            </div>
          </div>
          <div class="package">
            <span>查看课程套餐</span>
            <a href="javascript:;" class="buy-btn">现在购买立即优惠></a>
          </div>
        </div>
      </div>
      <% include ../common/sidebarRt.ejs %>
    </div>
  </div>
  <!-- 成人 -->
  <div class="deLayer hide" id="adultBtn">
    <div class="view">
      <span class="ltBtn hide"></span>
      <span class="rtBtn"></span>
      <div class="content">
        <img src="../../images/common/delete.png" class="delete" alt="">
        <div class="cont">
          <ul class="lists">
            <li><img src="../../images/exReceive/new_adult01.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult02.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult03.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult04.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult05.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult06.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult07.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult08.jpg" alt=""></li>
          </ul>
          <ul class="switch">
            <li class="crt"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- 青少 -->
  <div class="deLayer" id="youthBtn">
    <div class="view">
      <span class="ltBtn hide"></span>
      <span class="rtBtn"></span>
      <div class="content">
        <img src="../../images/common/delete.png" class="delete" alt="">
        <div class="cont">
          <ul class="lists">
            <li><img src="../../images/exReceive/new_youth01.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_youth02.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_youth03.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_youth04.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_youth05.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_youth06.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_youth07.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_youth08.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_youth09.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_youth10.jpg" alt=""></li>
          </ul>
          <ul class="switch">
            <li class="crt"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- 查看详情 -->
  <div class="deLayer hide">
    <div class="view">
      <span class="ltBtn"></span>
      <span class="rtBtn"></span>
      <div class="content">
        <img src="<%=imagessrc2%>common/delete.png" class="delete" alt="">
        <div class="cont">
          <ul class="lists">
            <li><img src="<%=imagessrc2%>exReceive/new_adult01.jpg" alt=""></li>
            <li><img src="<%=imagessrc2%>exReceive/new_adult02.jpg" alt=""></li>
            <li><img src="<%=imagessrc2%>exReceive/new_adult03.jpg" alt=""></li>
            <li><img src="<%=imagessrc2%>exReceive/new_adult04.jpg" alt=""></li>
            <li><img src="<%=imagessrc2%>exReceive/new_adult05.jpg" alt=""></li>
            <li><img src="<%=imagessrc2%>exReceive/new_adult06.jpg" alt=""></li>
            <li><img src="<%=imagessrc2%>exReceive/new_adult07.jpg" alt=""></li>
            <li><img src="<%=imagessrc2%>exReceive/new_adult08.jpg" alt=""></li>
          </ul>
          <ul class="switch">
            <li class="crt"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% include ../common/bottom.ejs %>
</body>
<!-- <script src="<%= jsSource2%>" id="seajsnode"></script> -->
</html>