<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>体验用户</title>
  <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>common/index_commons.css">
  <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>exReceive/index_success.css">
</head>
<body data-init="exReceive/indexSuccess" id="container">
  <% include ../common/header.ejs %>
  <div class="success">
    <div class="part-1">
      <dl class="appoint">
        <dt><img src="<%=imagessrc2%>exReceive/succ_img.png" alt=""></dt>
        <dd class="tit">体验课预约成功！</dd>
        <dd>外教老师正在努力为宝贝备课中，请记得准时参加，不要浪费老师的辛苦付出，让老师白等哦～</dd>
      </dl>
      <p class="codeTit">请扫描下方二维码，关注51talk青少微信服务号，获取上课自动提醒。</p>
      <dl class="codeImg">
        <dt><img src="<%=imagessrc2%>exReceive/suc_code.jpg" alt=""></dt>
        <dd class="classT">以下为您预约的课程信息：</dd>
        <dd>上课时间：<span>2017/11/20</span><span>14:00 - 14:25</span></dd>
        <dd>教材名称：我的玩具My toys</dd>
        <dd>上课方式：<span>51talk青少课堂</span><span>iPad端</span></dd>
      </dl>
    </div>
    <div class="part-2">
      <div class="list-title">
        <img src="<%=imagessrc2%>exReceive/suc_list_img01.png" alt="" class="r-img">
        <span class="youth-read">宝爸宝妈必看：如何上好这节外教课！</span>
        <span class="adult-read">课前必看：如何上好这节外教课！</span>
      </div>
      <div class="list-before">
        <img src="<%=imagessrc2%>exReceive/suc_list_img03.png" alt="" class="r-img">
        <div class="list-class">
          <h3>课前准备</h3>
          <p class="youth-class">观看视频，了解体验课上课准备事项，并提前下载上课软件，才能更好的陪伴宝贝上课哦～</p>
          <p class="adult-class hide">观看视频，了解体验课上课准备事项，并提前下载上课软件。</p>
          <ul class="u-list">
            <li onclick = "__sdonclick('51video_before');">
              <img src="<%=imagessrc2%>exReceive/suc_video.png" alt="">
              <img src="<%=imagessrc2%>exReceive/r_video_btn.png" alt="" class="video-btn">
              <span class="span-1">课前准备必看</span>
            </li>
            <li onclick = "__sdonclick('word_video');"  class="youth-li">
              <img src="<%=imagessrc2%>exReceive/suc_eng_video.png" alt="">
              <img src="<%=imagessrc2%>exReceive/r_video_btn.png" alt="" class="video-btn">
              <span class="span-1">外教课堂常用指令</span>
            </li>
          </ul>
          <p class="ipadYouth adult-li hide">
            <a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank"><img src="<%=imagessrc2%>exReceive/suc_adult_img.png"></a>
          </p>
          <p class="ipadYouth youth-li">
            <a href="http://www.51talk.com/activity/ipadClient" target="_blank"><img src="<%=imagessrc2%>exReceive/suc_img_ipad.png" alt="" class="suc-img-ipad"></a>
            <a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank"><img src="<%=imagessrc2%>exReceive/suc_img_ac.png" alt="" class="suc-img-ac"></a>   
          </p>
        </div>
      </div>
      <div class="list-preview">
        <img src="<%=imagessrc2%>exReceive/suc_list_img04.png" alt="" class="r-img">  
        <div class="list-class">
          <h3>预习课程</h3>
          <p>为了让宝贝能更好地和外教沟通，我们的中教老师专门为宝贝录制了预习视频，快带着宝贝提前了解下本节课的上课内容吧～</p>
          <div class="video">
            <img src="<%=imagessrc2%>exReceive/suc_video_y.png" alt="">
            <img src="<%=imagessrc2%>exReceive/r_video_btn.png" alt="" class="video-btn">
          </div>
          <div class="basic-list">
            <ul>
              <li class="check"><a href="javascript:;" class="preview" onclick = "__sdonclick('preview');"><i></i>课程预习</a></li>
              <li><a href="javascript:;" class="download" onclick = "__sdonclick('downloadbook');" target="_blank"><i></i>下载教材</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="returnBtn"><a href="javascript:;">返回首页</a></div>
  </div>
</body>
<!-- <script src="<%= jsSource2%>" id="seajsnode"></script> -->
</html>