<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>单元列表页</title>
  <link rel="stylesheet" type="text/css" href="<%= cssPath %>reviewList.css">
</head>
<body>
  <div class="reviewContent" id="container" data-init="reviewList">
    <img src="<%= imagessrc %>revice_banner.png" alt="" class="banner">
    <div class="reviewList">
      <ul class="level" id="levelTab"></ul>
      <div class="content" id="reviewList"></div>
      <!-- 加载中 -->
      <div class="load">正在加载中...</div>
    </div>
  </div>

  <script id="reviewTab" type="text/html">
    [[each data as tab index]]
      [[if tab.current == 1]]
        <li class="on" data-level="[[tab.level]]">
      [[else]]
        <li data-level="[[tab.level]]">
      [[/if]]
        level[[tab.level]]
        </li>
    [[/each]]
  </script>

  <script id="reviewList_temp" type="text/html">
    [[if title != ""]]
    <h3>
      <img src="<%=imagessrc%>Star.png" alt=""/>
      <span>宝贝已经完成了<i>[[title]]</i>的学习，建议学习<i>[[title]]</i>的中教复习课</span>
    </h3>
    [[/if]]
    <ul class="list">
      [[each list]]
        [[if $value.status == -1]]
          <li class="lock">
        [[else]]
          <li>
        [[/if]]
        [[if $value.href == "" || $value.href == "undefined"]]
          <a href="javascript:;">
        [[else]]
          <a href="[[$value.href]]">
        [[/if]]
            <div class="word">
              <!-- 锁住 -->
              [[if $value.status == -1]]
                <div class="shadow"></div>
                <span class="bigLock"><img src="<%= imagessrc %>big_lock.png"></span>
              [[/if]]
              <!-- 最新一次 -->
              [[if $value.status == 0 && $value.is_new == 1]]
                <div class="shadow"></div>
                <span class="orderBtn">立即预约</span>
              [[/if]]
              <!-- 已预约 -->
              [[if $value.status == 1]]
                <span class="order"></span>
              [[/if]]
              <!-- 已完成 -->
              [[if $value.status == 3]]
                <span class="complete"></span>
              [[/if]]
              <img src="[[$value.banner]]"  alt="" class="listImg">
            </div>
            <p class="title">
              <!-- 最新一次 -->
              [[if $value.status == 0 && $value.is_new == 1]]
                <span class="news">最新</span>
              [[/if]]
              [[$value.title]]</p>
            <div class="show hide">
              [[if $value.status == 1 || $value.status == 3 || ($value.status == 0 && $value.is_new != 1) ]]
                <div class="shadow"></div>
              [[/if]]
              <!-- 锁住 -->
              [[if $value.status == -1]]
                <div class="time smallLock">
                  <img src="<%= imagessrc %>small_lock.png" alt="">
                  <h4>学完本单元的课程，</h4>
                  <p>就可以解锁这节复习课啦</p>
                </div>
              [[/if]]
              <!-- 已预约 -->
              [[if $value.status == 1]]
                <div class="time">
                  <h4>- 上课时间 -</h4>
                  <p>[[$value.time]]</p>
                </div>
              [[/if]]
              <!-- 已完成 -->
              [[if $value.status == 3]]
                <span class="orderBtn">再次预约</span>
              [[/if]]
              <!-- 未预约 -->
              [[if $value.status == 0 && $value.is_new != 1]]
                <span class="orderBtn">立即预约</span>
              [[/if]]
            </div>
          </a>
        </li>
      [[/each]]
    </ul>
  </script>

  <script src="<%= jsPath %>vendor.js" id="j_review_seajsnode"></script>
</body>
</html>
