<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>体验用户</title>
  <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>usersSelect/index_regContents.css">
</head>
<body data-init="usersSelect/indexRegContents" id="container">
  <div class="regcontent">
    <div class="regEnds endSubs">
      <div class="delete"><img src="<%=imagessrc2%>usersSelect/delete.png"/></div>
      <!-- 目的 -->
      <div class="regEnds_list hide">
        <h3 class="title">您注册51talk的目的是？</h3>
        <ul class="list">
          <li>
            <img src="<%=imagessrc2%>usersSelect/reg_l_img.png"/>
            <a href="javascript:;" class="childBtn">我的孩子要学英语</a>
          </li>
          <li>
            <img src="<%=imagessrc2%>usersSelect/reg_r_img.png"/>
            <a href="javascript:;" class="persBtn">我要学英语</a>
          </li>
        </ul>
      </div>
      <!-- 更多信息 -->
      <div class="moreSubs subsTwo">
        <h3 class="title">请您填写孩子的学习情况，以便我们提供适合您孩子英语水平的课程</h3>
        <div class="subsBox">
          <dl class="subList stuAge">
            <dt>
              <span>学龄阶段</span>
            </dt>
            <dd class="check">幼儿园</dd>
            <dd>小学</dd>
            <dd>初中</dd>
          </dl>
          <dl class="garde">
            <dt>
              <img src="<%=imagessrc2%>usersSelect/grade_line.png"/>
            </dt>
            <dd class="check">
              <span></span>
              一年级
            </dd>
            <dd>
              <span></span>
              二年级
            </dd>
            <dd>
              <span></span>
              三年级
            </dd>
            <dd>
              <span></span>
              四年级
            </dd>
            <dd>
              <span></span>
              五年级
            </dd>
            <dd>
              <span></span>
              六年级
            </dd>
            <dd>
              <span></span>
              七年级
            </dd>
          </dl>
          <dl class="subList stuEnds">
            <dt>
              <span>学习目的</span>
            </dt>
            <dd>提高听说能力</dd>
            <dd>在职面试</dd>
            <dd>出国旅行</dd>
            <dd>雅思</dd>
          </dl>
          <dl class="subList engLevel">
            <dt>
              <span>英语水平</span>
            </dt>
            <dd>没学过</dd>
            <dd>会说简单单词</dd>
            <dd>能说完整句子</dd>
            <dd>能流利交流</dd>
          </dl>
        </div>
      </div>
      <input type="hidden" id="stuAge" class="jsCheck">
      <input type="hidden" id="garde" class="jsCheck">
      <input type="hidden" id="stuEnds" class="jsCheck">
      <input type="hidden" id="engLevel" class="jsCheck">
      <div class="formSub">
        <a href="javascript:;" class="return">返回上一页</a>
        <a href="javascript:;" class="complete comCheck">完成</a>
      </div>
    </div>
  </div>
</body>
<script src="<%= jsSource2%>" id="seajsnode"></script>
</html>