<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>common/index_commons.css">
    <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>youngPackage/index_strengthen.css">
    <script type="text/javascript">
        window.static_url = "../../";
    </script>
</head>

<body data-init="youngPackage/indexStrengthen" id="container">
    <% include ../common/header.ejs %>
        <div class="banner-box">
            <div class="banner">
                <img src="http://www.51talk.com/upload/ad/2017121916314242506.jpg?v=1514191467288" />
            </div>
        </div>
        <div class="content">
            <ul class="tab f-cb" id="tabId">
                <li class="current"><a href="javascript:;">强化学习效果套餐</a></li>
                <li><a href="javascript:;">单元学习套餐</a></li>
                <li><a href="javascript:;">次卡学习套餐</a></li>
            </ul>
            <!--套餐start-->
            <div class="package-info f-cb">
                <div class="img-box"><img src="<%=imagessrc2%>youngPackage/img01.jpg" /></div>
                <!--选择套餐模块start 公共-->
                <div id="infoBox" class="info-box">
                    <h2>强化学习效果套餐</h2>
                    <p class="des">【套餐优势】利用“短时高频”的学习方法，帮助孩子养成自觉学习的习惯。</p>

                    <div class="price-box">
                        <div class="p-text f-cb">
                            <span class="text text-price oldPriceTitle">原价：</span>
                            <div class="text-v p-value oldPrice">¥10899</div>
                        </div>
                        <div class="p-text f-cb">
                            <span class="text v-title">优惠：</span>
                            <div class="text-v total-price cutPrice">
                                <div><span class="z-icon"> </span> 直降2000元</div>
                                <div><span class="z-icon reduce"> </span> 直降2000元</div>
                                <div><span class="z-icon freeGive"> </span> 5节课程（次卡）</div>
                            </div>
                        </div>
                        <div class="p-text f-cb">
                            <span class="text v-title z-real"> 实付：</span>
                            <div class="realPay">¥8899 <span class="z-per">（￥49/节）</span></div>
                        </div>
                    </div>

                    <div class="course-box">
                        <ul class="course-list f-cb" id="courseInfo">
                            <li class="course-li f-icon j-icon current">
                                <span></span>
                                <div class="li-info">
                                    <p>90节外教一对一课程</p>
                                    <p class="li-des">（赠送30节绘本公开课）</p>
                                    <p class="li-time"> 有效期888</p>
                                </div>
                                <div class="suspension-info f-icon">
                                    <span></span>
                                    <p>90节外教一对一课程，赠送30节绘本公开课</p>
                                    <p>套餐有效期360天（自购买之日起）</p>
                                </div>
                            </li>
                            <li class="j-icon">
                                <span></span>
                                <div class="li-info">
                                    <p>360节</p>
                                    <p class="li-des">（赠30节）</p>
                                </div>
                                <div class="suspension-info c-icon">
                                    <span></span>
                                    <p>90节外教一对一课程，赠送30节绘本公开课</p>
                                    <p>套餐有效期360天（自购买之日起）</p>
                                </div>
                            </li>
                            <li>
                                <div class="li-info">
                                    <p>360节</p>
                                    <p class="li-des">（赠30节）</p>
                                </div>
                                <div class="suspension-info c-icon">
                                    <span></span>
                                    <p>90节外教一对一课程，赠送30节绘本公开课</p>
                                    <p>套餐有效期360天（自购买之日起）</p>
                                </div>
                            </li>
                            <li>
                                <div class="li-info">
                                    <p>360节</p>
                                    <p class="li-des">（赠30节）</p>
                                </div>
                                <div class="suspension-info c-icon">
                                    <span></span>
                                    <p>90节外教一对一课程，赠送30节绘本公开课</p>
                                    <p>套餐有效期360天（自购买之日起）</p>
                                </div>
                            </li>
                            <li>
                                <div class="li-info">
                                    <p>360节</p>
                                    <p class="li-des">（赠30节）</p>
                                </div>
                                <div class="suspension-info l-icon">
                                    <span></span>
                                    <p>90节外教一对一课程，赠送30节绘本公开课</p>
                                    <p>套餐有效期360天（自购买之日起）</p>
                                </div>
                            </li>
                            <li>
                                <span></span>
                                <div class="li-info">
                                    <p>360节</p>
                                    <p class="li-des">（赠30节）</p>
                                </div>
                                <div class="suspension-info c-icon">
                                    <span></span>
                                    <p>90节外教一对一课程，赠送30节绘本公开课</p>
                                    <p>套餐有效期360天（自购买之日起）</p>
                                </div>
                            </li>
                            <li>
                                <span></span>
                                <div class="li-info">
                                    <p>360节</p>
                                    <p class="li-des">（赠30节）</p>
                                </div>
                                <div class="suspension-info c-icon">
                                    <span></span>
                                    <p>90节外教一对一课程，赠送30节绘本公开课</p>
                                    <p>套餐有效期360天（自购买之日起）</p>
                                </div>
                            </li>
                            <li>
                                <span></span>
                                <div class="li-info">
                                    <p>360节</p>
                                    <p class="li-des">（赠30节）</p>
                                </div>
                                <div class="suspension-info c-icon">
                                    <span></span>
                                    <p>90节外教一对一课程，赠送30节绘本公开课</p>
                                    <p>套餐有效期360天（自购买之日起）</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="info-text">
                        <div class="text-box f-cb">
                            <div class="tit">分期支付金额</div>
                            <div class="value">1000元/月<span>（按12个月分期，每月需还款）</span></div>
                        </div>
                        <div class="text-box f-cb">
                            <div class="tit">服务协议</div>
                            <div class="value"><a href="javascript:;">《强化学习效果套餐课程服务协议》</a></div>
                        </div>
                    </div>
                    <div class="buy-btn f-cb">
                        <a class="buy-b" href="javascript:;">立即购买</a>
                        <a class="shop-b" href="javascript:;">加入购物车</a>
                    </div>
                </div>
                <!--选择套餐模块end-->
            </div>
            <!--套餐end-->
            <!--课程详情start-->
            <div class="info-main f-cb">
                <ul class="info-tab" id="infoTab">
                    <li class="current"><a href="#info-tab1">课程详情</a></li>
                    <li><a href="#info-tab2">师资教学</a></li>
                    <li><a href="#info-tab3">上课平台</a></li>
                    <li><a href="#info-tab4">选购须知</a></li>
                    <li><a href="#info-tab5">常见问题</a></li>
                    <li><a href="#info-tab6">全程服务</a></li>
                </ul>
                <div class="list-box">
                    <div id="info-tab1" class="list-info">
                        <div class="courseinfo-img">
                            <img src="<%=imagessrc2%>youngPackage/young_16.jpg" />
                            <div class="package-img f-cb">
                                <div class="des-box">
                                    <div>套餐特点</div>
                                    <ul>
                                        <li>• 每月至少完成15节一对一外教课程</li>
                                        <li>• 套餐价格相对优惠</li>
                                    </ul>
                                </div>
                                <div class="des-box">
                                    <div>适合学生</div>
                                    <ul>
                                        <li>• 希望培养有毅力和良好学习习惯的孩子</li>
                                        <li>• 每周至少可安排3-4节外教一对一课程 </li>
                                    </ul>
                                </div>
                            </div>
                            <img src="<%=imagessrc2%>youngPackage/young_17_01.jpg" />
                            <img src="<%=imagessrc2%>youngPackage/young_25.jpg" />
                            <img src="<%=imagessrc2%>youngPackage/young_18.jpg" />
                            <img src="<%=imagessrc2%>youngPackage/young_19.jpg" />
                            <div class="level-box">
                                <ul class="tab-box f-cb" id="ctabBox">
                                    <li data-cur="0" class="current"><img src="<%=imagessrc2%>youngPackage/young_26.png" /></li>
                                    <li data-cur="0"><img src="<%=imagessrc2%>youngPackage/young_27.png" /></li>
                                </ul>
                                <div class="tab-main _tab-main">
                                    <div class="classical _tab-main-level show">
                                        <div class="tab-content">
                                            <ul class="level-list f-cb level-tab">
                                                <li class="current">
                                                    <div>L0</span>
                                                        <p>学龄前</p>
                                                </li>
                                                <li>
                                                    <div>L1-L3</span>
                                                        <p>一至三年级</p>
                                                </li>
                                                <li>
                                                    <div>L4-L6</span>
                                                        <p>四至六年级</p>
                                                </li>
                                                <li>
                                                    <div>L7-L9</span>
                                                        <p>初一至初三</p>
                                                </li>
                                            </ul>
                                            <div class="level-c">
                                                <div class="level-main _level-main">
                                                    <div class="des-box">
                                                        <div class="f-cb">以听说、兴趣为主，让学员从此爱上英语学习</div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【适合学员】</div>
                                                            <div class="des-r">学前（4-6岁）</div>
                                                        </div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【课程设置】</div>
                                                            <div class="des-r">共144课时，25min/课时</div>
                                                        </div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【授课模式】</div>
                                                            <div class="des-r">外教1对1</div>
                                                        </div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【课程内容】</div>
                                                            <div class="des-r">词汇 192个 主题 6个</div>
                                                        </div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【学习目的】</div>
                                                            <div class="des-r">认识字母表，能分辨大小写字母；熟悉常见词汇，能建立声音、图片与单词的对应链接；建立字母和语音的对应关系，逐步做到见词能读。</div>
                                                        </div>
                                                    </div>
                                                    <div class="carousel-figure _carousel-figure">
                                                        <ul class="img-list _img-list f-cb">
                                                            <li><img src="<%=imagessrc2%>youngPackage/celevel_0_0.png" /></li>
                                                            <li><img src="<%=imagessrc2%>youngPackage/celevel_1_1.png" /></li>
                                                            <li><img src="<%=imagessrc2%>youngPackage/celevel_2_2.png" /></li>
                                                            <li><img src="<%=imagessrc2%>youngPackage/celevel_3_3.png" /></li>
                                                        </ul>
                                                        <ul class="circle-img _circel-img">
                                                            <li class="current"></li>
                                                            <li></li>
                                                            <li></li>
                                                            <li></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="level-main _level-main hide">
                                                    <div class="des-box">
                                                        <div class="f-cb">自然拼读运用，建立英语语感，培养正确语音语调，扩大词汇量。</div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【适合学员】</div>
                                                            <div class="des-r">小低（一至三年级）</div>
                                                        </div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【课程设置】</div>
                                                            <div class="des-r">共432课时，25min/课时</div>
                                                        </div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【授课模式】</div>
                                                            <div class="des-r">外教1对1</div>
                                                        </div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【课程内容】</div>
                                                            <div class="des-r">词汇 864个 主题 18个</div>
                                                        </div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【学习目的】</div>
                                                            <div class="des-r">就熟悉话题做简单对话，表达个人看法；词汇量和阅读流利度大大提高；阅读并理解文章基础信息，回答相关简单问题。</div>
                                                        </div>
                                                    </div>
                                                    <div class="carousel-figure _carousel-figure">
                                                        <ul class="img-list _img-list f-cb">
                                                            <li><img src="<%=imagessrc2%>youngPackage/clevel1_01.jpg" /></li>
                                                            <li><img src="<%=imagessrc2%>youngPackage/clevel1_02.jpg" /></li>
                                                            <li><img src="<%=imagessrc2%>youngPackage/clevel1_03.jpg" /></li>
                                                            <li><img src="<%=imagessrc2%>youngPackage/clevel1_04.jpg" /></li>
                                                        </ul>
                                                        <ul class="circle-img _circel-img">
                                                            <li class="current"></li>
                                                            <li></li>
                                                            <li></li>
                                                            <li></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="level-main _level-main hide">
                                                    <div class="des-box">
                                                        <div class="f-cb">多样主题阅读，跨学科学习，了解阅读策略，提升阅读能力。</div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【适合学员】</div>
                                                            <div class="des-r">小高（四至六年级）</div>
                                                        </div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【课程设置】</div>
                                                            <div class="des-r">共432课时，25min/课时</div>
                                                        </div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【授课模式】</div>
                                                            <div class="des-r">外教1对1</div>
                                                        </div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【课程内容】</div>
                                                            <div class="des-r">词汇 945 个，主题 18 个，阅读策略 6 种</div>
                                                        </div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【学习目的】</div>
                                                            <div class="des-r">能够就比较广泛的话题进行对话和交流；独立阅读较长篇幅的英文文章；轻松写出简单的英文段落。</div>
                                                        </div>
                                                    </div>
                                                    <div class="carousel-figure _carousel-figure">
                                                        <ul class="img-list _img-list f-cb">
                                                            <li><img src="<%=imagessrc2%>youngPackage/clevel4_01.jpg" /></li>
                                                            <li><img src="<%=imagessrc2%>youngPackage/clevel4_02.jpg" /></li>
                                                            <li><img src="<%=imagessrc2%>youngPackage/clevel4_03.jpg" /></li>
                                                            <li><img src="<%=imagessrc2%>youngPackage/clevel4_04.jpg" /></li>
                                                        </ul>
                                                        <ul class="circle-img _circel-img">
                                                            <li class="current"></li>
                                                            <li></li>
                                                            <li></li>
                                                            <li></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="level-main _level-main hide">
                                                    <div class="des-box">
                                                        <div class="f-cb">掌握中等长度篇章的阅读技巧，探索式学习，培养学员听说及语言运用能力。</div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【适合学员】</div>
                                                            <div class="des-r">初中（初一至初三）</div>
                                                        </div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【课程设置】</div>
                                                            <div class="des-r">共144课时，25min/课时</div>
                                                        </div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【授课模式】</div>
                                                            <div class="des-r">外教1对1</div>
                                                        </div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【课程内容】</div>
                                                            <div class="des-r">词汇 864 个，主题 18 个，语法点 18 个，阅读策略 7 种</div>
                                                        </div>
                                                        <div class="f-cb">
                                                            <div class="des-l">【学习目的】</div>
                                                            <div class="des-r">英语自由交流，可以针对某个问题进行深入讨论；独立阅读各种问题的英语文章；能欧冠写出逻辑清楚的英文段落。</div>
                                                        </div>
                                                    </div>
                                                    <div class="carousel-figure _carousel-figure">
                                                        <ul class="img-list _img-list f-cb">
                                                            <li><img src="<%=imagessrc2%>youngPackage/clevel7_01.jpg" /></li>
                                                            <li><img src="<%=imagessrc2%>youngPackage/clevel7_02.jpg" /></li>
                                                            <li><img src="<%=imagessrc2%>youngPackage/clevel7_03.jpg" /></li>
                                                            <li><img src="<%=imagessrc2%>youngPackage/clevel7_04.jpg" /></li>
                                                        </ul>
                                                        <ul class="circle-img _circel-img">
                                                            <li class="current"></li>
                                                            <li></li>
                                                            <li></li>
                                                            <li></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                            </div>
                                            <div class="junior _tab-main-level">
                                                <div class="tab-content">
                                                    <ul class="level-list f-cb level-tab">
                                                        <li class="current">
                                                            <div>L0</span>
                                                                <p>学龄前</p>
                                                        </li>
                                                        <li>
                                                            <div>L1-L3</span>
                                                                <p>一至三年级</p>
                                                        </li>
                                                        <li>
                                                            <div>L4-L6</span>
                                                                <p>四至六年级</p>
                                                        </li>
                                                        <li>
                                                            <div>L7-L8</span>
                                                                <p>初一至初三</p>
                                                        </li>
                                                    </ul>
                                                    <div class="level-c">
                                                        <div class="level-main _level-main">
                                                            <div class="des-box">
                                                                <div class="f-cb">英语学习的敲门砖；学员能掌握词汇发音、含义、拼写及相应语法、句型。</div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【适合学员】</div>
                                                                    <div class="des-r">三年级或以上具备一定英语基础的学员；想系统学习语法，夯实基础的学员</div>
                                                                </div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【课程设置】</div>
                                                                    <div class="des-r">1-36课</div>
                                                                </div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【授课模式】</div>
                                                                    <div class="des-r">外教1对1</div>
                                                                </div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【课程内容】</div>
                                                                    <div class="des-r">词汇 375 个，语法 18 个，文章 18 篇</div>
                                                                </div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【学习目的】</div>
                                                                    <div class="des-r">知识：词汇基本发音及含义，基础句型及相应时态；技能：运用相关时态、句型描述正在发生的事情。</div>
                                                                </div>
                                                            </div>
                                                            <div class="carousel-figure _carousel-figure">
                                                                <ul class="img-list _img-list f-cb">
                                                                    <li><img src="<%=imagessrc2%>youngPackage/jlevel0_01.jpg" /></li>
                                                                    <li><img src="<%=imagessrc2%>youngPackage/jlevel0_02.jpg" /></li>
                                                                    <li><img src="<%=imagessrc2%>youngPackage/jlevel0_03.jpg" /></li>
                                                                    <li><img src="<%=imagessrc2%>youngPackage/jlevel0_04.jpg" /></li>
                                                                </ul>
                                                                <ul class="circle-img _circel-img">
                                                                    <li class="current"></li>
                                                                    <li></li>
                                                                    <li></li>
                                                                    <li></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="level-main _level-main hide">
                                                            <div class="des-box">
                                                                <div class="f-cb">搭建语法体系，掌握做题技巧，轻松应对升学考试。</div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【适合学员】</div>
                                                                    <div class="des-r">三年级或以上具备一定英语基础的学员；想系统学习语法，夯实基础的学员</div>
                                                                </div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【课程设置】</div>
                                                                    <div class="des-r">37-72课</div>
                                                                </div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【授课模式】</div>
                                                                    <div class="des-r">外教1对1</div>
                                                                </div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【课程内容】</div>
                                                                    <div class="des-r">词汇 390 个，语法 18 个，文章 18 篇</div>
                                                                </div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【学习目的】</div>
                                                                    <div class="des-r">知识：词汇形影拓展，逐步积累词汇量；技能：表达喜好，描述天气，生病就医，讲述过去发生的事情。</div>
                                                                </div>
                                                            </div>
                                                            <div class="carousel-figure _carousel-figure">
                                                                <ul class="img-list _img-list f-cb">
                                                                    <li><img src="<%=imagessrc2%>youngPackage/jlevel1_01.jpg" /></li>
                                                                    <li><img src="<%=imagessrc2%>youngPackage/jlevel1_02.jpg" /></li>
                                                                    <li><img src="<%=imagessrc2%>youngPackage/jlevel1_03.jpg" /></li>
                                                                    <li><img src="<%=imagessrc2%>youngPackage/jlevel1_04.jpg" /></li>
                                                                </ul>
                                                                <ul class="circle-img _circel-img">
                                                                    <li class="current"></li>
                                                                    <li></li>
                                                                    <li></li>
                                                                    <li></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="level-main _level-main hide">
                                                            <div class="des-box">
                                                                <div class="f-cb">搭建语法体系，掌握做题技巧，轻松应对升学考试。</div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【适合学员】</div>
                                                                    <div class="des-r">三年级或以上具备一定英语基础的学员；想系统学习语法，夯实基础的学员</div>
                                                                </div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【课程设置】</div>
                                                                    <div class="des-r">73-108课</div>
                                                                </div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【授课模式】</div>
                                                                    <div class="des-r">外教1对1</div>
                                                                </div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【课程内容】</div>
                                                                    <div class="des-r">词汇 360 个，语法 18 个，文章 18 篇</div>
                                                                </div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【学习目的】</div>
                                                                    <div class="des-r">知识：词汇在句子中的运用，搭建语法框架；技能：轻松阅读90-100字的篇章，运用所学内容表达个人将来计划。</div>
                                                                </div>
                                                            </div>
                                                            <div class="carousel-figure _carousel-figure">
                                                                <ul class="img-list _img-list f-cb">
                                                                    <li><img src="<%=imagessrc2%>youngPackage/jlevel4_01.jpg" /></li>
                                                                    <li><img src="<%=imagessrc2%>youngPackage/jlevel4_02.jpg" /></li>
                                                                    <li><img src="<%=imagessrc2%>youngPackage/jlevel4_03.jpg" /></li>
                                                                    <li><img src="<%=imagessrc2%>youngPackage/jlevel4_04.jpg" /></li>
                                                                </ul>
                                                                <ul class="circle-img _circel-img">
                                                                    <li class="current"></li>
                                                                    <li></li>
                                                                    <li></li>
                                                                    <li></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="level-main _level-main hide">
                                                            <div class="des-box">
                                                                <div class="f-cb">搭建语法体系，掌握做题技巧，轻松应对升学考试。</div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【适合学员】</div>
                                                                    <div class="des-r">三年级或以上具备一定英语基础的学员；想系统学习语法，夯实基础的学员</div>
                                                                </div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【课程设置】</div>
                                                                    <div class="des-r">109-144课</div>
                                                                </div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【授课模式】</div>
                                                                    <div class="des-r">外教1对1</div>
                                                                </div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【课程内容】</div>
                                                                    <div class="des-r">词汇 375 个，语法 18 个，文章 18 篇</div>
                                                                </div>
                                                                <div class="f-cb">
                                                                    <div class="des-l">【学习目的】</div>
                                                                    <div class="des-r">知识：词汇重难点拓展及在篇章中的运用，掌握做题及应试技巧；技能：能阅读120-140字的篇章；围绕话题陈述个人意见，达到交际目的。</div>
                                                                </div>
                                                            </div>
                                                            <div class="carousel-figure _carousel-figure">
                                                                <ul class="img-list _img-list f-cb">
                                                                    <li><img src="<%=imagessrc2%>youngPackage/jlevel7_01.jpg" /></li>
                                                                    <li><img src="<%=imagessrc2%>youngPackage/jlevel7_02.jpg" /></li>
                                                                    <li><img src="<%=imagessrc2%>youngPackage/jlevel7_03.jpg" /></li>
                                                                    <li><img src="<%=imagessrc2%>youngPackage/jlevel7_04.jpg" /></li>
                                                                </ul>
                                                                <ul class="circle-img _circel-img">
                                                                    <li class="current"></li>
                                                                    <li></li>
                                                                    <li></li>
                                                                    <li></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    </div>
                                                    </div>
                                                    </div>
                                                    <div class="special-class" id="specialClass">
                                                        <div class="special-img-box img1">
                                                            <div class="special-img">
                                                                <div class="special-des des1">
                                                                    <span></span>
                                                                    <div class="special-text">
                                                                        <div>
                                                                            <p class="tit">适合学员</p>
                                                                            <p>Level0及以上学员</p>
                                                                        </div>
                                                                        <div>
                                                                            <p class="tit">教材特色</p>
                                                                            <p>1、由资深外籍教研团队研发——教材内容严谨且具有系统性，让孩子趣味性的学习英语读音与拼字。</p>
                                                                            <p>2、超强教学师资——由2-6年有自然拼读教学经验的外教，1对1教学。</p>
                                                                        </div>
                                                                        <div>
                                                                            <p class="tit">目标达成</p>
                                                                            <p>掌握26个字母及其发音； 25种组合发音；学习38篇小故事，420个词汇；</p>
                                                                        </div>
                                                                        <div>
                                                                            <p class="tit">预计学习时间</p>
                                                                            <p>48课时（25min/课时）</p>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="special-img-box img2">
                                                            <div class="special-img">
                                                                <div class="special-des des1">
                                                                    <span></span>
                                                                    <div class="special-text">
                                                                        <div>
                                                                            <p class="tit">适合学员</p>
                                                                            <p>5-12岁的学员，要有一定的英文基础</p>
                                                                        </div>
                                                                        <div>
                                                                            <p class="tit">教材特色</p>
                                                                            <p>取材于原版【分级阅读】材料，在阅读中积累丰富的词汇；引入阅读策略与技能的学习，有效提升孩子的阅读速度；跨学科、多文体阅读，潜移默化的让孩子形成英文思维；让孩子在阅读中接触中西方文化，开阔视野。</p>
                                                                        </div>
                                                                        <div>
                                                                            <p class="tit">目标达成</p>
                                                                            <p>培养孩子的英文思维能力，让孩子爱上阅读，会阅读，并成为终身的阅读者。</p>
                                                                        </div>
                                                                        <div>
                                                                            <p class="tit">预计学习时间</p>
                                                                            <p>40课时（25min/课时）</p>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="special-img-box img3">
                                                            <div class="special-img">
                                                                <div class="special-des des3">
                                                                    <span></span>
                                                                    <div class="special-text">
                                                                        <div>
                                                                            <p class="tit">适合学员</p>
                                                                            <p>Level5及以上学员</p>
                                                                        </div>
                                                                        <div>
                                                                            <p class="tit">教材特色</p>
                                                                            <p>1. 内容丰富：涵盖语言、文学、历史、数学、天文、地理、物理、化学多个学科，不仅学英语，更可以学实用知识。</p>
                                                                            <p>2. 学习流程科学：学习流程设计科学，热身环节初步引入话题，主体篇章详细讲解知识点和语言点，每课一练及时巩固所学，最后小结回顾本课词汇，确保学习效果。</p>
                                                                            <p>3. 课程设计图文并茂，每张图片精挑细选，有效辅助学生理解所学内容。</p>
                                                                        </div>
                                                                        <div>
                                                                            <p class="tit">目标达成</p>
                                                                            <p>学会用英语表达初高中所学的各学科知识，包括：语言、文化、历史、数学、物理、化学、生物、天文、地理等。</p>
                                                                        </div>
                                                                        <div>
                                                                            <p class="tit">预计学习时间</p>
                                                                            <p>120课时（25min/课时）</p>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <img src="<%=imagessrc2%>youngPackage/young_24.jpg" />
                                                    <img src="<%=imagessrc2%>youngPackage/young_21.jpg" />

                                                </div>
                                            </div>
                                            <div id="info-tab2" class="list-info">
                                                <div class="y-teacher-img">
                                                    <img src="<%=imagessrc2%>youngPackage/y_01.jpg" />
                                                    <img src="<%=imagessrc2%>youngPackage/y_02.jpg" />
                                                    <img src="<%=imagessrc2%>youngPackage/y_03.jpg" />
                                                    <img src="<%=imagessrc2%>youngPackage/y_04.jpg" />
                                                </div>
                                            </div>
                                            <div id="info-tab3" class="list-info">
                                                <div class="class-platform">
                                                    <img src="<%=imagessrc2%>youngPackage/young_10.jpg" />
                                                    <img src="<%=imagessrc2%>youngPackage/young_11.jpg" />
                                                    <img src="<%=imagessrc2%>youngPackage/young_12.jpg" />
                                                    <img src="<%=imagessrc2%>youngPackage/young_13.jpg" />
                                                    <img src="<%=imagessrc2%>youngPackage/young_14.jpg" />
                                                    <div class="code-img">
                                                        <a href="//www.51talk.com/ac/51TalkAC.php" target="_blank"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="info-tab4" class="list-info">
                                                <div class="buy-info">
                                                    <div class="buyinfo-title">套餐要求</div>
                                                    <div class="buyinfo-des">购买【强化学习效果套餐】的学员，请认真阅读以下内容：</div>
                                                    <ul class="buyinfo-li">
                                                        <li>学员购买套餐当月，按照实际上课数消耗的次卡进行扣除；</li>
                                                        <li>自学员购买套餐次月（自然月）开始，每月最少需完成15节（含）以上的外教一对一课程，如未达到要求，系统次月2日将自动扣除未完成的课程；
                                                            <br/>例：当月学员仅完成12节外教一对一课程，未达到15节外教一对一课程，系统将在次月2日自动扣除未上的3节一对一课程；</li>
                                                        <li>如学员当月上课数超过15节外教一对一课程，系统将按照实际消耗课程扣除；
                                                            <br/例：当月学员完成20节外教一对一课程，已超过15节外教一对一课程，系统会自动扣除20节外教一对一课程；</li>
                                                                <li>学员在一天内可预约多节外教一对一课程，也可一次性预约之后14天内的多节外教一对一课程；
                                                                    <br/>例：学员在11月1日，可以预约11月1日—15日之间任何一个时间的课程；</li>
                                                                <li>距课程开始60分钟前可取消约课，60分钟（含）以内不可取消约课；</li>
                                                                <li>非51Talk原因导致用户未能按时上课的，51Talk将不予补偿课时。</li>
                                                    </ul>
                                                </div>
                                                <div class="buy-info">
                                                    <div class="buyinfo-title">课程次卡、课时的使用说明</div>
                                                    <div class="buyinfo-des">购买【强化学习效果套餐】的学员，可以凭借套餐内的次卡、课时，按照以下说明预约不同的课程类型：</div>
                                                    <ul class="buyinfo-li">
                                                        <li>菲律宾外教一对一课程，每节课程25分钟，1节次卡/课；</li>
                                                        <li>欧美外教一对一课程，每节课程25分钟，4节次卡/课；</li>
                                                        <li>精品小班课，每课程50分钟，1节次卡/课；</li>
                                                        <li>绘本课/公开课，每课程25分钟或50分钟，1课时/课；</li>
                                                    </ul>
                                                </div>
                                                <div class="buy-info">
                                                    <div class="buyinfo-title">退费服务说明</div>
                                                    <ul class="buyinfo-li">
                                                        <li>如您购买本套餐后，自购买日起7天内，可为您办理无条件退费：</li>
                                                        <li>自购买日起7天后，至30天内的退费要求，请查看<a href="javascript:;">《课程服务协议》</a>中的详细说明，或请来电垂询您的课程服务顾问；</li>
                                                        <li>在<a href="javascript:;">《课程服务协议》</a>中，将与您约定，我司将不受理30天以后的退费申请；</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div id="info-tab5" class="list-info">
                                                <ul class="question-list">
                                                    <li>
                                                        <div class="question">
                                                            <span class="question-i">Q:</span>
                                                            <p>【强化学习效果套餐】每月必须上满15节课吗</p>
                                                        </div>
                                                        <div class="answer">
                                                            <span class="question-i">A:</span>
                                                            <p>此套餐旨在督促学员能够有计划、有节奏地学习英语，“短时高频”提升学习效率，所以每月必须上满15节课程；<br/> 例如：学员本月仅完成12节课程，在次月2日系统将会扣除您未完成的余下3节课。
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="question">
                                                            <span class="question-i">Q:</span>
                                                            <p>【强化学习效果套餐】可以请假吗？</p>
                                                        </div>
                                                        <div class="answer">
                                                            <span class="question-i">A:</span>
                                                            <p>【强化学习效果套餐】请假规则：<br/> （1）此套餐购买当月不可请假，可从次月开始，请任意一个月份的假；
                                                                <br/> （2）此套餐每年有一次请假机会，请假时间需按照自然月请假（每月第一天至最后一天）；
                                                                <br/> （3）请假月份如果有预约课程不可请假，请学员将预约课程全部取消后请假；
                                                                <br/> （4）学员请假后，系统不会扣除当月固定要上的15节课程，并且有效期自动延长30天；
                                                                <br/> （5）如需请假，请联系学习顾问。
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="question">
                                                            <span class="question-i">Q:</span>
                                                            <p>【强化学习效果套餐】的课程，都是一对一课程吗？</p>
                                                        </div>
                                                        <div class="answer">
                                                            <span class="question-i">A:</span>
                                                            <p>51Talk外教是以一对一课程为主，公开课、绘本课为多人大课形式，所有课程均为真人在线教学；</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="question">
                                                            <span class="question-i">Q:</span>
                                                            <p>【强化学习效果套餐】的课程，学员可以自由选择外教老师吗？</p>
                                                        </div>
                                                        <div class="answer">
                                                            <span class="question-i">A:</span>
                                                            <p>您可以根据自己的情况选择合适的上课时间、外教老师、课程以及教材，登录会员中心选择”预约课程“即可；您在51Talk可以体验全程自助式预约课程的服务。老师的上课时间状态只要是开放的，您就可以随时预约。</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="question">
                                                            <span class="question-i">Q:</span>
                                                            <p>【强化学习效果套餐】的课程，预约课程是否有限制？</p>
                                                        </div>
                                                        <div class="answer">
                                                            <span class="question-i">A:</span>
                                                            <p>学员需要至少提前30分钟预约课程，例如15点的课程，需要在14:30之前完成预约操作。如果您使用的是次卡，可以一次性预约同一天的多节课程，并且可以提前预约未来两周的课程。</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="question">
                                                            <span class="question-i">Q:</span>
                                                            <p>【强化学习效果套餐】的课程，预约了可以取消吗？</p>
                                                        </div>
                                                        <div class="answer">
                                                            <span class="question-i">A:</span>
                                                            <p>可以取消。学员需要在课程开始前一个小时以上取消课程，否则会扣除您一节次卡。课程开始前一个小时以内无法取消课程，即使没有出席课程，系统也会扣除该节课。</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="question">
                                                            <span class="question-i">Q:</span>
                                                            <p>【强化学习效果套餐】的课程，上课迟到是否可以继续上课？</p>
                                                        </div>
                                                        <div class="answer">
                                                            <span class="question-i">A:</span>
                                                            <p>迟到5分钟以内可以继续上课，外教老师仅能与学员上该节课余下的时间。晚到10分钟以上的，则视为学生缺席，该课程取消并扣除此节课。</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="question">
                                                            <span class="question-i">Q:</span>
                                                            <p>51Talk外教来自全球各地区，不同的口音会不会对孩子的英语表达有影响？</p>
                                                        </div>
                                                        <div class="answer">
                                                            <span class="question-i">A:</span>
                                                            <p>51Talk外教经过层层选拔，发音的准确性是重要筛选条件之一。 只有通过各项严格考核的老师才能给学生授课。每个英语国家的发音都有不同，就算是同一个国家，不同的地区之间发音也有差异，英国、美国也不例外 一个人的母语的发音习惯、所处的低于对英语发音口音的影响更大。 语言的主要目的是交流，能清晰准确的说出自己想要表达的内容是最重要的。 让孩子接触不同英语国家的外教，不仅能提高孩子语言能力，更能了解文化的多元性，从而成为真正的二十一世纪小公民。
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <ul>
                                            </div>
                                            <div id="info-tab6" class="list-info">
                                                <img src="<%=imagessrc2%>youngPackage/service_1.jpg">
                                                <img src="<%=imagessrc2%>youngPackage/service_2.jpg">
                                                <img src="<%=imagessrc2%>youngPackage/service_3.jpg">
                                                <img src="<%=imagessrc2%>youngPackage/service_4.jpg">
                                                <img src="<%=imagessrc2%>youngPackage/service_5.jpg">
                                            </div>
                                            </div>
                                            </div>
                                            <!--课程详情end-->
                                        </div>
                                        <!--购物车-->
                                        <div class="s-cart-box">
                                            <div class="slider-box">
                                                <span class="s-cart-icon"></span>
                                                <p>我的购物车</p>
                                                <span class="num-icon">3</span>
                                            </div>
                                            <div class="main">
                                                <div class="tit">我的购物车<span>(0)</span></div>
                                                <div class="s-cart-info">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:;">删除</a>
                                                            <p class="p-class">360次次卡 次卡学习套餐</p>
                                                            <p class="p-time">有效期：360天</p>
                                                            <div class="price"><span>￥</span><span>8488</span></div>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">删除</a>
                                                            <p class="p-class">360次次卡 次卡学习套餐</p>
                                                            <p class="p-time">有效期：360天</p>
                                                            <div class="price"><span>￥</span><span>8488</span></div>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">删除</a>
                                                            <p class="p-class">360次次卡 次卡学习套餐</p>
                                                            <p class="p-time">有效期：360天</p>
                                                            <div class="price"><span>￥</span><span>8488</span></div>
                                                        </li>
                                                    </ul>
                                                    <div class="text">立即购买配套教材，学习效果更佳！</div>
                                                    <div class="select-box">
                                                        <span></span><span>+50元，选购高保真耳麦</span>
                                                    </div>
                                                </div>
                                                <div class="submin-box">
                                                    <div class="s-price-box"><span class="price-text">订单总金额：</span><i>￥</i><span>8488</span></div>
                                                    <a class="sbuy-btn" href="javascript:;">立即购买</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                        <input type="text" value="point_package" id="point_type">
                                        <% include ../common/bottom.ejs %>
</body>
<script src="<%= jsSource2%>" id="seajsnode"></script>

</html>