<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>common/index_commons.css">
    <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>adultPackage/index_teaching_material.css">
    <script type="text/javascript">
        window.static_url="../../";
    </script>
</head>

<body data-init="adultPackage/teachingMaterial" id="container">
    <% include ../common/header.ejs %>
    <div class="banner-box">
        <div class="banner">
            <img src="http://www.51talk.com/upload/ad/2017121916314242506.jpg?v=1514191467288"/>
        </div>
    </div>
    <div class="content">
        <ul class="tab f-cb" id="tabId">
            <li class="current"><a href="javascript:;">强化学习效果套餐</a></li>
            <li><a href="javascript:;">单元学习套餐</a></li>
            <li><a href="javascript:;">配套教材</a></li>
        </ul>
        <div class="package-info f-cb">
            <div class="img-box"><img src="<%=imagessrc2%>youngPackage/img01.jpg"/></div>
            <div class="info-box">
                
                <h2>强化学习效果套餐</h2>
                <p class="des">【包邮】51Talk重磅投入，汇聚全球百余位语言教育专家，6年倾力研发与实践，适合国人每阶段的英语学习！</p>
                <div class="price-box">
                    <div class="p-text f-cb">
                        <span class="text text-price">价格</span>
                        <div class="text-v p-value"><span>¥</span>8999</div>
                    </div>
                    <div class="p-text f-cb">
                        <span class="text ">活动</span>
                        <div class="text-v">1. 满8000-500元；2. 赠送10节外教一对一课程</div>
                    </div>
                </div>
                <div class="course-box">
                    <ul class="course-list f-cb" id="courseInfo">
                        <li class="j-icon">
                            <span></span>
                            <div class="li-info">
                                <p>CE Level 1 - 上册</p>
                            </div>
                            <i></i>
                        </li> 
                        <li class="j-icon">
                            <span></span>
                            <div class="li-info">
                                <p>CE Level 1 - 下册</p>
                            </div>
                            <i></i>
                        </li>
                        <li>
                            <div class="li-info">
                                <p>CE Level 2 - 上册</p>
                            </div>
                            <i></i>
                        </li>
                        <li>
                            <div class="li-info">
                                <p>CE Level 2 - 上册</p>
                            </div>
                            <i></i>
                        </li>
                        <li>
                            <div class="li-info">
                                <p>CE Level 2 - 上册</p>
                            </div>
                            <i></i>
                        </li>
                        <li class="n-chose">
                            <div class="li-info">
                                <p>CE Level 2 - 上册</p>
                            </div>
                            <i></i>
                        </li>
                    </ul>
                </div>
                <div class="prompt-text">
                    <span>推荐提示</span>
                    <span class="levle-text">您当前英语等级为 level1，建议选择 CE Level 1 的教材</span>
                </div>
                <div class="buy-btn f-cb">
                    <a id="purchaseImmediately" class="buy-b" href="javascript:;">立即购买</a>
                    <a class="shop-b" id="cartBtn" href="javascript:;">加入购物车</a>
                </div>
            </div>
        </div>
        <!--课程详情start-->
        <div class="info-main f-cb">
            <ul class="info-tab" id="infoTab">
                <li class="current"><a href="#info-tab1">教材预览</a></li>
                <li><a href="#info-tab2">选购须知</a></li>
            </ul>
            <div class="list-box">
                <div id="info-tab1" class="list-info show">
                    <div><img src="<%=imagessrc2%>adultPackage/adult_18.jpg"/></div>
                    <div class="material-list">
                        <ul class="material-ul f-cb" id="materialUl">
                            <li>
                                <div class="li-img">
                                    <img src="<%=imagessrc2%>adultPackage/adult_20.jpg"/>
                                    <span class="c01 _c-title">Book1</span>
                                    <div class="img-layer _layer">
                                        <a href="javascript:;">教材预览</a>
                                    </div>
                                </div>
                                <p class="li-tit">CE Level1</p>
                                <div class="btn-box">
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_1_Book_1.pdf" class="current" href="javascript:;">上册</a>
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_1_Book_2.pdf" href="javascript:;">下册</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-img">
                                    <img src="<%=imagessrc2%>adultPackage/adult_21.jpg"/>
                                    <span class="c01 _c-title">Book1</span>
                                    <div class="img-layer _layer">
                                        <a href="javascript:;">教材预览</a>
                                    </div>
                                </div>
                                <p class="li-tit">CE Level2</p>
                                <div class="btn-box">
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_2_Book_1.pdf" class="current" href="javascript:;">上册</a>
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_2_Book_2.pdf" href="javascript:;">下册</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-img">
                                    <img src="<%=imagessrc2%>adultPackage/adult_22.jpg"/>
                                    <span class="c01 _c-title">Book1</span>
                                    <div class="img-layer _layer">
                                        <a href="javascript:;">教材预览</a>
                                    </div>
                                </div>
                                <p class="li-tit">CE Level3</p>
                                <div class="btn-box">
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_3_Book_1.pdf" class="current" href="javascript:;">上册</a>
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_3_Book_2.pdf" href="javascript:;">下册</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-img">
                                    <img src="<%=imagessrc2%>adultPackage/adult_23.jpg"/>
                                    <span class="c01 _c-title">Book1</span>
                                    <div class="img-layer _layer">
                                        <a href="javascript:;">教材预览</a>
                                    </div>
                                </div>
                                <p class="li-tit">CE Level4</p>
                                <div class="btn-box">
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_4_Book_1.pdf" class="current" href="javascript:;">上册</a>
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_4_Book_2.pdf" href="javascript:;">下册</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-img">
                                    <img src="<%=imagessrc2%>adultPackage/adult_25.jpg"/>
                                    <span class="c01 _c-title">Book1</span>
                                    <div class="img-layer _layer">
                                        <a href="javascript:;">教材预览</a>
                                    </div>
                                </div>
                                <p class="li-tit">CE Level5</p>
                                <div class="btn-box">
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_5_Book_1.pdf" class="current" href="javascript:;">上册</a>
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_5_Book_2.pdf" href="javascript:;">下册</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-img">
                                    <img src="<%=imagessrc2%>adultPackage/adult_24.jpg"/>
                                    <span class="c01 _c-title">Book1</span>
                                    <div class="img-layer _layer">
                                        <a href="javascript:;">教材预览</a>
                                    </div>
                                </div>
                                <p class="li-tit">CE Level6</p>
                                <div class="btn-box">
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_6_Book_1.pdf" class="current" href="javascript:;">上册</a>
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_6_Book_2.pdf" href="javascript:;">下册</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-img">
                                    <img src="<%=imagessrc2%>adultPackage/adult_27.jpg"/>
                                    <span class="c01 _c-title">Book1</span>
                                    <div class="img-layer _layer">
                                        <a href="javascript:;">教材预览</a>
                                    </div>
                                </div>
                                <p class="li-tit">CE Level7</p>
                                <div class="btn-box">
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_7_Book_1.pdf" class="current" href="javascript:;">上册</a>
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_7_Book_2.pdf" href="javascript:;">下册</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-img">
                                    <img src="<%=imagessrc2%>adultPackage/adult_28.jpg"/>
                                    <span class="c01 _c-title">Book1</span>
                                    <div class="img-layer _layer">
                                        <a href="javascript:;">教材预览</a>
                                    </div>
                                </div>
                                <p class="li-tit">CE Level8</p>
                                <div class="btn-box">
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_8_Book_1.pdf" class="current" href="javascript:;">上册</a>
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_8_Book_2.pdf" href="javascript:;">下册</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-img">
                                    <img src="<%=imagessrc2%>adultPackage/adult_26.jpg"/>
                                    <span class="c01 _c-title">Book1</span>
                                    <div class="img-layer _layer">
                                        <a href="javascript:;">教材预览</a>
                                    </div>
                                </div>
                                <p class="li-tit">CE Level9</p>
                                <div class="btn-box">
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_9_Book_1.pdf" class="current" href="javascript:;">上册</a>
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_9_Book_2.pdf" href="javascript:;">下册</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="info-tab2" class="list-info show">
                    <div class="buy-info"> 
                        <div class="buyinfo-title">收货地址及收件人信息</div>
                        <div class="buyinfo-des">请确保您的收货地址与信息正确</div>
                        <ul class="buyinfo-li">
                            <li>收货地址信息可在“会员中心-账户设置-个人信息”底部查看并修改；</li>
                            <li>或可在您进行订单支付的过程中，对相应的收货地址及信息进行确认或修改；</li>
                        </ul>
                    </div>
                    <div class="buy-info">
                        <div class="buyinfo-title">其他</div>
                        <div class="buyinfo-des">关于发票与收货</div>
                        <ul class="buyinfo-li">
                            <li>纸质教材购买后将不能开具发票，购买前请先确认;</li>
                            <li>签收时请您当面验货，如教材损坏等问题请拒收，您若一旦签收将不予退换，如有问题请及时联系我们客服协商处理;</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--课程详情end-->
    </div>
    <div class="textbook-mask" id="textbookMask">
        <div class="pdf-viewer">
            <div class="topbar">
                <a href="javascript:;" class="close" id="closeId">X</a>
            </div>
            <embed src="" id="pdf" width="980" height="720" name="pdf" type="application/pdf" internalinstanceid="1481"></embed>
        </div>
    </div>
    <% include ../common/bottom.ejs %>
    <div class="layer-box" id="layerBox">
        <div class="layer-main">
            <div class="tit-box">
                温馨提示
                <a href="javascript:;"></a>
            </div>
            <div class="layer-content">
                <p class="layer-des" id="textId">您还未选购任何课程商品哦</p>
                <div class="sure-btn">
                    <a id="layerBtn" href="javascript:;">确定</a>
                </div>
            </div>
        </div>
    </div>
    <input type="text" value="book" id="point_type">
</body>
<script src="<%= jsSource2%>" id="seajsnode"></script>

</html>


